/*------------------------------------*\
    #LISTS
\*------------------------------------*/

.listUnstyled,
%listUnstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.listUnstyled--block {    
    > li, 
    > li > a {
        display: block;
    } 
}

.nav,
.listUnstyled--bare {    
    > li, 
    > li > a {
        display: inline-block;
    } 
}
