/*------------------------------------*\
    #LIST-BLOCK
\*------------------------------------*/

.listBlock,
.listBlock {
    margin:  0;
    padding: 0;
    list-style: none;

    > li {
        @extend %listBlock-item;
    }

}

.listBlock-item,
%listBlock-item {
    padding: $base-spacing-unit;
}
