/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/

/**
 * This is to override bootstraps specifity of pagiation. Normally this
 * level of nesting would not be allowed. 
 */
.pagination--secondary li a {
    color: $btn-secondary-color;
    background-color: $btn-secondary-bg;
    border-color: $btn-secondary-border;
}


.pagination-prev {
    float: left;  
}

.pagination-prev-link:before {
    content: "\00AB" "\00A0";
}



.pagination-next {
    float: right;
}

.pagination-prev-link:after {
    content: "\00A0" "\00BB";
}


.pagination-prev-link:before,
.pagination-prev-link:after {
    font-size: 20px;  
} 
