/*------------------------------------*\
    #MIXINS/GRID-SETUP
\*------------------------------------*/

$class-type:            unquote(".");

/**
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
@mixin grid-media-query($media-query){
    $breakpoint-found: false;

    @each $breakpoint in $breakpoints{
        $name: nth($breakpoint, 1);
        $declaration: nth($breakpoint, 2);

        @if $media-query == $name and $declaration{
            $breakpoint-found: true;

            @media only screen and #{$declaration}{
                @content;
            }
        }
    }
    /**
    @if $breakpoint-found == false{
        @warn "Breakpoint ‘#{$media-query}’ does not exist";
    }
    */
}


@mixin grid-item(){
    float: left;
    vertical-align: top;
    
    @include box-sizing(border-box); 
}

