/*------------------------------------*\
 #BUTTONS
\*------------------------------------*/

// Danger and error appear as red
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

// Danger and error appear as red
.btn-subtle {
    color: $btn-subtle-color;
    background-color: $btn-subtle-bg;
    border-color: $btn-subtle-border;
    background-color: rgba(229,229,229,0.35);
    border-color: rgba(216,216,216,0.35);

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $btn-subtle-state-color;
        background-color: $btn-subtle-state-bg;
        border-color: $btn-subtle-state-border;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
      background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &,
      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
          background-color: #666062;
          border-color: #595455;
      }
    }

    .badge {
        color: #e9e9e9;
        color: rgba(229,229,229,0.35);
        background-color: #6d6e71;
    }
}