/*------------------------------------*\
 #PAGINATION
\*------------------------------------*/
.pagination-secondary li a {
    color: $btn-secondary-color;
    background-color: $btn-secondary-bg;
    border-color: $btn-secondary-border;
}

.pagination__prev {
    float: left;
}

.pagination__next {
    float: right;
}

.pagination__prev a:before,
.pagination__next a:after {
    font-size: 20px;  
} 

.pagination__prev a:before {
    content: "\00AB" "\00A0";
}

.pagination__next a:after {
    content: "\00A0" "\00BB";
}