/*------------------------------------*\
    #VARIABLES/BUTTONS
\*------------------------------------*/

$btn-font-size:           15px;
$btn-font-size-sm:        13px;
$btn-font-size-lg:        $font-size-base; 

$btn-border-size:         1px;

$btn-secondary-color:     $colorCru-white;
$btn-secondary-bg:        $colorCru-gray;
$btn-secondary-border:    #595455;

$btn-subtle-color:        #6d6e71;
$btn-subtle-bg:           #f4f4f4;
$btn-subtle-border:       #e7e7e7;
$btn-subtle-state-color:  $colorCru-white;
$btn-subtle-state-bg:     #666062;
$btn-subtle-state-border: #595455;
