/*------------------------------------*\
    #VARIABLES/COLORS
\*------------------------------------*/

$enable-margins:          true;
$enable-margins--tiny:    false;
$enable-margins--small:   false;
$enable-margins--large:   false;
$enable-margins--huge:    false;
$enable-margins--none:    false;

$enable-paddings:         false;
$enable-paddings--tiny:   false;
$enable-paddings--small:  false;
$enable-paddings--large:  false;
$enable-paddings--huge:   false;
$enable-paddings--none:   false;
