/*------------------------------------*\
 #IMAGES
\*------------------------------------*/

img {
    @include img-responsive();
}

.panel-body iframe {
    display: block;
    max-width: 100%;
    
    @include mq(400px, max) {
        height: auto;
    }
}