/*------------------------------------*\
    $HELPER
\*------------------------------------*/
/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.float--left` class to the markup.
 *
 */

// scss-lint:disable SingleLinePerProperty, SingleLinePerSelector, SpaceBeforeBrace

/**
 * Add/remove floats
 */
.float--right, %float--right { float: right !important; }
.float--left,  %float--left  { float: left !important; }
.float--none,  %float--none  { float: none !important; }



/**
 * Text alignment
 */
.text--left,   %text--left   { text-align: left !important; }
.text--center, %text--center { text-align: center !important; }
.text--right,  %text--right  { text-align: right !important; }



/**
 * Text Sizing
 */
.small-text,   %small-text { font-size: 80% !important; }



/**
 * Font weights
 */
.weight--light,      %weight--light     { font-weight: 100 !important; }
.weight--semi-light, %weight--semilight { font-weight: 300 !important; }
.weight--normal,     %weight--normal    { font-weight: 400 !important; }
.weight--semibold,   %weight--semibold  { font-weight: 500 !important; }
.weight--bold,       %weight--bold      { font-weight: 600 !important; }



/**
 * View helpers
 */
.overflow--hide, %overflow--hide { overflow: hidden !important; }
.overflow--show, %overflow--show { overflow: visible !important; }



/**
 * Positioning
 */
.position--absolute, %position--absolute { position: absolute !important; }
.position--relative, %position--relative { position: relative !important; }
.position--fixed,    %position--fixed    { position: fixed !important; }
.position--t0,       %position--t0       { top:    0 !important;}
.position--b0,       %position--b0       { bottom: 0 !important; }
.position--l0,       %position--l0       { left:   0 !important; }
.position--r0,       %position--r0       { right:  0 !important;}



/**
 * Display
 */
.display--block,        %display--block        { display: block !important;}
.display--inline-block, %display--inline-block { display: inline-block !important;}
.display--inline,       %display--inline       { display: inline !important;}
.display--none,         %display--none         { display: none !important;}


/**
 * Sizes
 */
.full-height, %full-height {height: 100% !important;}
.full-width, %full-width   {width:  100% !important;}

// scss-lint:enable SingleLinePerProperty SingleLinePerSelector SpaceBeforeBrace

/**
 * Content Alignment
 */
.center, 
%center,
.centered, 
%centered { 
    margin-left: auto !important; 
    margin-right: auto !important;
}

%center-block, 
.center-block { 
    @extend %centered; 
    @extend %full-width; 
    @extend %text--center; 
}


/**
 * Borders
 */
.border-bottom-solid {
    border-bottom: 1px solid lighten($color-black, 40%) !important; 
}


/**
 * Pull items full width of `.island` parents.
 */
.full-bleed {
    margin-right: -$base-line-height !important;
    margin-left:  -$base-line-height !important;

    .islet & {
        margin-right: -($base-line-height / 2) !important;
        margin-left:  -($base-line-height / 2) !important;
    }
}


/**
 * Add a help cursor to any element that gives the user extra information on
 * `:hover`.
 */
.informative, 
%informative {
    cursor: help !important;
}


/**
 * Mute an object by reducing its opacity.
 */
.muted, 
%muted {
    @include opacity(0.5);
}

.opaque, 
%opaque {
    @include opacity(1);
}


/**
 * Add a right-angled quote to links that imply movement, e.g.:
 *
   <a href=# class=go>Read more</a>
 *
 */
.go:after, 
%go:after {
    content: "\00A0" "\00BB"  !important;
}


/**
 * Apply capital case to an element (usually a `strong`).
 */
.caps, 
%caps {
    text-transform: uppercase !important;
}


/**
 * Hide content off-screen without resorting to `display:none;`, also provide
 * breakpoint specific hidden elements.
 */
@mixin accessibility {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.accessibility,
%accessibility,
.visuallyhidden {
    @include accessibility;
}

.basic-transition, 
%basic-transition { 
    @include transition(250ms ease);
}

.decoration--none, 
%decoration--none { 
    text-decoration: none !important; 
}

.box-shadow--thin {
    @include box-shadow(0 0 6px rgba(0, 0, 0, 0.2));
}
